@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Hind+Madurai:wght@300&family=Lora:ital@1&family=Montserrat:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: hind-madural, sans-serif;
  font-weight: 300;
  color: #000;
}

/* -----------------------------------------------------------Headings and logo */

h1 {
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  color: #000;
  text-align: center;
}

h2 {
  font-family: Lora, sans-serif;
  letter-spacing: 2px;
  color: #000;
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

p {
  letter-spacing: 3px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 25%;
  line-height: 1.6;
}

.logo {
  float: left;
  font-size: 280%;
  color: #ffffff;
  margin-left: 30px;
  font-family: Aboreto, sans-serif;
}

/*-----------------------------------------------------------Navigation link */

.menu {
  font-size: 110%;
  letter-spacing: 1px;
  color: #d7d7d7;
}

.menu,
.logo {
  line-height: 75px;
}

.menu li {
  float: right;
  margin-right: 30px;
  list-style-type: none;
}

.menu a:hover {
  font-size: large;
  color: #fff;
}

.menu a {
  text-decoration: none;
  color: inherit;
}

.active {
  border-bottom: 1px solid #892a1c;
}

.menu,
header {
  background-color: #000 !important;
  min-height: 75px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----------------------------------------------------------Navigation bar */
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* -----------------------------------------------------------Order icon button */
.order-button {
  background: #dc0000;
  border: 1px solid #dc0000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

/* -----------------------------------------------------------Order button hover*/
.order-button:hover,
.order-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #dc0000;
}

/* -----------------------------------------------------------Hero image and cover text*/

#hero-outer {
  height: 600px;
  /* Remove: adjust the height value to make the container smaller */
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}

#hero-image {
  height: 600px;
  /* Adjust the height value to resize the image */
  object-fit: contain;
  display: block;
  background: url("../images/hero-image.png") no-repeat center center;
  transform: scale(1);
  animation-name: hero-zoom-out;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

/* ----------------------------------------------------------- Creates the level of zoom for hero image */
@keyframes hero-zoom-out {
  from {
    transform: scale(2.1);
  }
  to {
    transform: scale(1);
  }
}

#cover-text h2 {
  font-size: large;
  color: #fff;
  font-family: hind-madural, sans-serif;
  letter-spacing: 1px;
  text-align: center;

  width: 125px;
  height: 65px;

  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5px;

  background-color: #000;

  bottom: 30px;
  right: 20%;
  /*Remove: Adjust the cover-text block image right or left here, the more & the more left it goes*/

  position: absolute;
}

/* -----------------------------------------------------------Introduction section*/

#introduction {
  height: fit-content;
  /* Adjust the height of the box container*/
  background-color: white;
  /* Remove: design help*/
}

/* -----------------------------------------------------------Icons: shopping & box gallery */

.icon-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  /* Remove: design help*/
  margin: 25px 450px;
}

.icon-container div {
  margin: 25 35 px;
  height: fit-content;
  background-color: white;
  /* Remove: design help*/
}

/* -----------------------------------------------------------Horizontal line */
.horizontal-line {
  border-top: 5px solid #1e1e1e;
  /* Can adjust line properties here e.g, thickness */
  margin-top: 20px;
}

/* -----------------------------------------------------------What is a braai? */

#braai {
  height: fit-content;
  /* Adjust the height of the box container*/
  background-color: white;
  /* Remove: design help*/
  object-fit: cover;
  object-position: 50% 50%;
}

/* NOTE: DELETE IF NOT USED!!!
#braai-title {

}
*/


#braai-image {
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#braai-sub-title {
  margin-top: 25px;
}

#braai-paragraph {
  margin-top: 25px;
}

/* -----------------------------------------------------------What is in the box?*/

#box {
  height: fit-content;
  /* Adjust the height of the box container*/
  background-color: white;
  /* Remove: design help*/
}

#box-title {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
}

#box-image {
  height: 10%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#box-sub-title {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
  margin-top: 25px;
}

#box-paragraph {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
  margin-top: 25px;
}

/* -----------------------------------------------------------What is on the menu?*/

#menu-section {
  height: fit-content;
  /* Adjust the height of the box container*/
  background-color: white;
  /* Remove: design help*/
}

#menu-title {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
}

#menu-image {
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

#menu-sub-title {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
  margin-top: 25px;
}

#menu-paragraph {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
  margin-top: 25px;
}

/* -----------------------------------------------------------What are the box packages?*/

#package {
  height: fit-content;
  /* Adjust the height of the box container*/
  background-color: white;
  /* Remove: design help*/
}

#packages-title {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
}

#pricing {
  display: flex;
  justify-content: center;
}

.pricing-table {
  border: 1px solid black;
  background-color: black;
  color: #fff;
  padding: 1%;
  text-align: center;
  margin: 2%;
  width: 23%;
}

.pricing-table h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 20px;
}

.price {
  font-size: 3rem;
  margin-bottom: 20px;
  font-family: Lora, sans-serif;
}

ul {
  list-style-type: none;
  margin-bottom: 30px;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
}

.price-tag {
  color: #dc0000;
  font-size: xx-large;
  font-family: Aboreto, sans-serif;
}

/*-----------------------------------------------------------Recipe of the month*/

#recipe {
  height: fit-content;
  /* Adjust the height of the box container*/
  background-color: white;
  /* Remove: design help*/
}

#recipe-title {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
}

#recipe-video {
  left: 70%;
}

/* -----------------------------------------------------------Contact information*/

#contact-details {
  height: fit-content;
  /* Adjust the height of the box container*/
  background-color: white;
  /* Remove: design help*/
}

#contact-details-title {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
}

.contact-sub-title {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
  margin-top: 25px;
}

.contact-paragraph {
  background-color: white;
  /* Remove: design help*/
  height: fit-content;
  margin-top: 25px;
  text-align: left;
}

/* -----------------------------------------------------------Footer*/

footer {
  height: fit-content;
  background-color: #000;
}

.social-networks {
  text-align: center;
}

.social-networks > li {
  display: inline;
}

.social-networks i {
  font-size: 160%;
  margin: 1%;
  padding: 5%;
  color: #ffffff;
}

/* gallery */

#photos {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
}

#photos > img {
  width: 100%;
}

/* -----------------------------------------------------------Media queries */

/* ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {  

    #cover-text h2 {
        font-size: large;
        color: #fff;
        font-family: hind-madural, sans-serif;
        letter-spacing: 1px;
        text-align: center;
        width: 125px;
        height: 65px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 5px;
        background-color: #000;
        bottom: 30px;
        right: 1%;
        /*Remove: Adjust the cover-text block image right or left here, the more & the more left it goes*/
      
        position: absolute;
      }
  
  
    .icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 0;
  }

  .icon-container div {
    margin: 10px 0;
  }

  /* What is a Braai? */
  #braai {
    height: fit-content;
  }

  #braai-image {
    height: 10%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  /*What is in the box?*/  /
#box{
    height: fit-content;
    /* Adjust the height of the box container*/
}

  #box-image{
    height: 10%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 35%;
    
  }
    

  /*What on the Menu?*/

  #menu {
    height: fit-content;
    /* Adjust the height of the box container*/
    background-color: white;
    /* Remove: design help*/
  }

  #menu-image {
    height: fit-content;
    width: 50%;
    display: block;
    margin: 0 auto;
    background-color: white;
    /* Remove: design help*/
    margin-left: 34%;
  }

  /*What are the Box Packages?*/
  #pricing {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .pricing-table {
    border: 2px solid black;
    background-color: black;
    color: #fff;
    padding: 30px;
    padding-top: 0px;
    text-align: center;
    margin: 20px;
    margin-left: 18%;
    width: 55%;
  }

  li.price-tag {
    padding-bottom: 20px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  h2 {
    width: 80%;
  }

  p {
    width: 50%;
  }

  #braai-image {
    margin-left: 40%;
  }


  #box-image{
    margin-left: 40%;
    
  }

  /*What on the Menu?*/

  #menu-image {
    margin-left: 25%;
  }

   /*What are the Box Packages?*/
   #pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .pricing-table{
    margin-left: 34%;
    width: 25%;
  }

  }

  /* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    .logo {
        font-size: 115%;
      }

      .icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 15px 0
      }
    
      .icon-container div {
        margin: 10px 0;
      }
      
    h2{
        width: 75%;
    }

    p{
        width: 65%;
    }

    .icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin: 15px 0;
      }
    
      .icon-container div {
        margin: 10px 0;
      }

       /* What is a Braai? */
    #braai {
        height: fit-content;
        /* Adjust the height of the box container*/
        background-color: white;
        /* Remove: design help*/
    }

  #braai-image {
    height: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 37%;
  }

  /*What is in the Box*/
  #box-image {
    height: 10%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  /*What on the Menu?*/

  #menu {
    height: fit-content;
    /* Adjust the height of the box container*/
    background-color: white;
    /* Remove: design help*/
  }

  #menu-image {
    height: fit-content;
    width: 50px;
    display: block;
    margin: 0 auto;
    background-color: white;
    /* Remove: design help*/
    margin-left: 30%;
  }

  #pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .pricing-table {
    border: 2px solid black;
    background-color: black;
    color: #fff;
    padding: 30px;
    padding-top: 0px;
    text-align: center;
    margin: 20px;
    margin-left: 18%;
    width: 55%;
  }

  #hero-outer{
    height:360px;
  }

  #cover-text h2{
    right: 70%;
  }
    
  }

  /* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  h2 {
    width: 75%;
  }

  p {
    width: 50%;
  }

  .logo {
    font-size: 115%;
    margin-left: 15px;
  }

  .menu{
    letter-spacing: -0.9px;
  }

  menu li{
    font-size: 35%;
  }

  #cover-text h2{
    right: 70%;
  }

  #braai {
    height: fit-content;
    /* Adjust the height of the box container*/
    background-color: white;
    /* Remove: design help*/
}

#braai-image {
  height: 10%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 18%;
  }

  #box-image {
    height: fit-content;
    /* Adjust the height of the box container*/
    background-color: white;
    /* Remove: design help*/
  }

 #box-image{
  height: 10%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 18%;

 }  


.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px 0;
}

.icon-container div {
  margin: 10px 0;
}

#pricing {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pricing-table {
  border: 2px solid black;
  background-color: black;
  color: #fff;
  padding: 30px;
  padding-top: 0px;
  text-align: center;
  margin: 20px;
  margin-left: 13%;
  width: 55%;
}

.logo {
  float: left;
  font-size: 60%;
  color: #ffffff;
  margin-left: 5px;
  font-family: Aboreto, sans-serif;
  letter-spacing: 0.4px;

}

/*Navigation link*/


.menu li {
  float: right;
  margin-right: 30px;
  list-style-type: none;
  font-size: 65%;
}

#photos {
  clear: both;
  line-height: 0;
  column-count: 1;
  column-gap: 0;
}

.order-button{
  font-size: 13px;
}

    
}