@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Hind+Madurai:wght@300&family=Lora:ital@1&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: hind-madural, sans-serif;
    font-weight: 300;
    color: #000;
}

/* headings and logo */

h1 {
    font-family: Montserrat, sans-serif;
    letter-spacing: 1px;
    color: #27289b;

}

h2 {
    font-family: Lora, sans-serif;
    letter-spacing: 1px;
    color: #aaa;
}

#logo {
    float: left;
    font-size: 280%;
}